.resources__logo {
  width: 270px;
  height: 38px;
  margin: 0;
  background: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 0.2s linear;
}

.resources__logo:hover {
  opacity: .5;
}

.resources__logo:nth-of-type(1) {
  background-image: url(../../../images/resources-arzamas.svg);
}

.resources__logo:nth-of-type(2) {
  background-image: url(../../../images/resources-n1.svg);
}

.resources__logo:nth-of-type(3) {
  background-image: url(../../../images/resources-strelka.svg);
}

.resources__logo:nth-of-type(4) {
  background-image: url(../../../images/resources-polka.svg);
}